.profile__title-box {
  display: flex;
  gap: 18px;
  align-items: baseline;
  padding-right: 10px;
}

@media (max-width: 920px) {
  .profile__title-box {
    gap: 10px;
  }
}

@media (max-width: 500px) {
  .profile__title-box {
    justify-content: center;
  }
}