.form {
  width: calc(15.42% + 232.67px);
  height: 330px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 34px 37px 36px;
  justify-content: space-between;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .form {
    padding: 25px 22px;
  }
}