.element__favourites {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/favourites.svg);
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;
  cursor: pointer;
}

.element__favourites:hover {
  opacity: .5;
  transition: .5s;
}